*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboardcontainer{
    position: absolute;
    top: 13%;
    right: 30%;
    width: 600px;
	height: 600px;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.details{
    margin-top: 16%;
    display: flex;
	flex-direction: column;
	align-items: center;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 1rem;
    padding-inline: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-top: 15px;
}

.logo {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-radius: 100vw;
    padding: .5rem 1rem;
    transition: .3s ease;
    color: black;
}

header nav {
    display: flex;
    gap: .5rem;
    justify-content: space-between;
    align-items: center;
}

header nav div {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 100vw;
    padding: .5rem 1rem;
    transition: .3s ease;
    color: black;
}

a {
    text-decoration: none;
}

header nav div:hover ,.active{
    background: #FFA500;
}

.logout {
    padding: 10px;
	background-color: #FFA500;;
	color: white;
    border: none;
	outline: none;
	padding: 12px 0;
	border-radius: 20px;
	width: 100px;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 35%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .title {
    margin-top: 25px;
    /* margin-bottom: 10px; */
    color: black;
    font-size: 1.2rem;
  }
  
  .update {
    margin-top: 30px;
    padding: 12px;
	background-color: #FFA500;;
	color: white;
    border: none;
	outline: none;
	/* padding: 12px 0; */
	border-radius: 20px;
	width: 100px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}

.home{
    position: absolute;
    top: 45%;
    right: 40%;
    font-size: 4rem;
}